* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* font-weight: bold; */
    font-size: 20px;
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    
}

.container {
    display: grid;
    background-color: #3a4452;
    padding: 10px;
    margin: 40px;
    height: 100vh;
    border: 1px solid rgb(40, 31, 95);
    grid-template-areas: 
    "display"
    "buttons";
    grid-template-rows: 1fr 7fr;
    gap: 20px;
}

#display {
    grid-area: display;
    margin-top: 20px;
}

#buttons {
    grid-area: buttons;
    display: grid;
    gap: 8px;
    margin-top: 10px;
    border: 1px solid #3a763a;
    padding: 10px;
}

#inputs {
    border: 1px solid #812e2e;
    display: grid;
    grid-template-areas: 
    "clear backspace decimal operator"
    "num num num operator"
    "num num num operator"
    "num num num operator"
    "num num equal equal";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: subgrid; 
    gap: 10px; 
}

input {
    box-shadow: 
    -8px -8px 15px rgba(255, 255, 255, 0.3), 
    5px 5px 15px rgba (0, 0, 0, 0.3); 
    background-color: #3a4452;
    cursor: pointer;
}

.clear,
.backspace,
.decimal,
.operator,
.equal {
    font-weight: bold;
    color: aquamarine;
}

.equal {
    font-size: 40px;
}